# Global compiled file
*.pyc

# Auto generated conf
egs/**/conf/*
!egs/**/conf/dnn
!egs/**/conf/logging_config.conf

# Running part
experiments/
*data*

# Tools
SPTK*
build/
bin/

# Pycharm IDE
.idea/

.env

# tools folder misc
tools/COPYING
tools/ChangeLog
tools/*.patch
tools/*.bz2
tools/HTS_Document.pdf
tools/INSTALL
tools/README
tools/REAPER/
tools/*.gz
tools/*.tgz
tools/festival/
tools/festvox/
tools/htk/
tools/magphase/
tools/multisyn_build/
tools/postfilter/
tools/speech_tools/
